@define-color bg           #282c34;
@define-color fg           #abb2bf;
@define-color light-grey   #828997;
@define-color dark-grey    #5c6370;
@define-color gutter       #1e2025;
@define-color accent       #528bff;
@define-color text         #abb2bf;
@define-color cyan         #56b6c2;
@define-color blue         #61afef;
@define-color purple       #c678dd;
@define-color green        #98c379;
@define-color yellow       #f8c456;
@define-color orange       #d19a66;
@define-color orange2      #e6c07b;
@define-color red          #e06c75;
@define-color red2         #be5046;